@import "variables";
@import "mixin";
.slider_wrap{position: relative;}
.carousel  {
   position: relative;
   width:100%;
   margin: 15px 0 15px 0;
   .carousel-wrapper {
      overflow: hidden; 
      position:relative;
   }
   .carousel-items {
      width: 10000px; 
      position: relative;
   }
   .carousel-block {
      float: left; 
      margin: 4px;
      position: relative;
      overflow: hidden;
      img{
         display:block;
         padding: 0 !important;
         margin: 0;
         shape-outside: none !important;
      }
      &:hover{
         cursor: pointer;
         span{
            top: 10px;
            .transition(top .3s ease);
         }
         .overlay{
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: fade( @black, 50%); 
            display: block;
            visibility: visible;
            opacity: 1;
            .transition(opacity .2s linear);
         }
         .smile {
            .transition(visibility .2s in-ease);
            visibility: visible;
         }
         .account{
            .transition(visibility .2s in-ease);
            visibility: visible;
         }
         span{
            top: 10px;
            .transition(top .3s ease);
         }
      }
      .overlay{
         position: absolute;
         visibility: hidden;
         opacity: 0;
         top: 50%;
         bottom: 50%;
         left: 50%;
         right: 50%;
         background: ; 
         .transition(opacity .2s linear);
      }
      span{
         text-align: center;
         color: @white;
         display: block;
         position: absolute;
         font-size: 14px;
         left: 0;
         right: 0;
         top: -20px;
         .transition(top .3s ease);
      }
      .smile, .account{
         display: block;
         visibility: hidden;
         .transition(visibility .2s in-ease);
         position: relative;
         &:before{
            content: '';
            display: block;
            position: absolute;
            top: 45px;
            height: 17px;
            background: url("../images/sprite.png");
         }
      }
      .smile{
         &:before{
            width: 17px;
            background-position: -61px -131px;
            left: 10px;
         }
         &:hover:before{background-position: -61px -113px;}
      }
      .account{
         &:before{
            width: 15px;
            background-position: -45px -131px;
            right: 10px;
         }
         &:hover:before{background-position: -45px -113px;}
      }
   }
}
.carousel-button-left a{
   width: 23px;
   height: 19px;
   float: left; 
   background: url("../images/sprite.png");
   background-position: -32px -45px;
   position: absolute;
   top: 30px;
   left: -30px;
}
.carousel-button-right a{
   width: 23px;
   height: 19px;
   float: right;
   background: url("../images/sprite.png");
   background-position: -9px -44px;
   position: absolute;
   top: 30px;
   right: -30px;
}


