.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
.text-shadow (@string) {
	text-shadow: @string;
}
.border-radius (@radius) {
	-webkit-border-radius: @radius;
	-moz-border-radius:    @radius;
	border-radius:         @radius;
}
.box-shadow (@string) {
	-webkit-box-shadow: @string;
	-moz-box-shadow:    @string;
	box-shadow:         @string;
}
.shadow-inset(@shadow) {
    -webkit-box-shadow: inset @shadow;
    -moz-box-shadow: inset @shadow;
    box-shadow: inset @shadow;
}
.rotate (@deg) {
	-webkit-transform: rotate(@deg);
	-moz-transform: 	 rotate(@deg);
	-ms-transform: 		 rotate(@deg);
	-o-transform: 		 rotate(@deg);
}
.transition (@transition) {
	-webkit-transition: @transition;  
	-moz-transition:    @transition;
	-ms-transition:     @transition; 
	-o-transition:      @transition;  
}
.coloms(@counts){
	-moz-column-count: @counts; 
	-webkit-column-count: @counts; 
	column-count: @counts;
}
.gradient (@startColor: #eee, @endColor: white) {
	background-color: @startColor;
	background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
	background: -webkit-linear-gradient(top, @startColor, @endColor);
	background: -moz-linear-gradient(top, @startColor, @endColor);
	background: -ms-linear-gradient(top, @startColor, @endColor);
	background: -o-linear-gradient(top, @startColor, @endColor);
}
.progress_bg{
	background: #f5fafb;
	background: -moz-linear-gradient(top,  #f5fafb 0%, #e7e7e7 100%);
	background: -webkit-linear-gradient(top,  #f5fafb 0%,#e7e7e7 100%);
	background: linear-gradient(to bottom,  #f5fafb 0%,#e7e7e7 100%);
}
.orange_gradient{
	background: #ffba2f;
	background: -moz-linear-gradient(top,  #ffba2f 0%, #ffa906 11%, #ff8e1b 89%, #c66c17 100%);
	background: -webkit-linear-gradient(top,  #ffba2f 0%,#ffa906 11%,#ff8e1b 89%,#c66c17 100%);
	background: linear-gradient(to bottom,  #ffba2f 0%,#ffa906 11%,#ff8e1b 89%,#c66c17 100%);
}
.orange_gradient_rotate{
	background: #ffba2f;
	background: -moz-linear-gradient(top,  #ffba2f 0%, #ffa906 11%, #ff8e1b 89%, #c66c17 100%);
	background: -webkit-linear-gradient(top,  #ffba2f 0%,#ffa906 11%,#ff8e1b 89%,#c66c17 100%);
	background: linear-gradient(to bottom,  #ffba2f 0%,#ffa906 11%,#ff8e1b 89%,#c66c17 100%);
	.rotate (-60deg);
}
.before{
	content:'';
	display: block;
	position: absolute;
}
.border_progress_bar{
	border-top: 1px solid #dcdcdc;
	border-right: 1px solid #a7a7a7;
	border-bottom: 1px solid #ababab;
	border-left: 1px solid #d2d2d2;
}
.clear-select {
  border: none;
  border-radius: 0;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  text-indent: 0.01px; 
  text-overflow: ''; 
  &::-ms-expand {
    display: none;  
  }
}