@font-face {
    font-family: 'source_sans_prolight';
    src: url('../font/sourcesanspro-light-webfont.eot');
    src: url('../font/sourcesanspro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/sourcesanspro-light-webfont.woff2') format('woff2'),
         url('../font/sourcesanspro-light-webfont.woff') format('woff'),
         url('../font/sourcesanspro-light-webfont.ttf') format('truetype'),
         url('../font/sourcesanspro-light-webfont.svg#source_sans_prolight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@import "variables";
@import "mixin";
input:focus, select:focus{outline: none;}
p, blockquote{
	font: 14px/22px "source_sans_prolight";
	color: @grey;
}
ul, ol{
	padding: 0;
	margin: 0;
	list-style-type: none;
}
blockquote{font-style: italic;}
h2{
	font: normal 31px "source_sans_prolight";
	color: @grey;
}

.inner{	
	position: relative;
	width: 960px;
	margin: 0 auto;
	&:before, &:after{
		content: '';
		display: block;
		clear: both;
	} 
}
header{
	background: @white;
	padding: 10px 0 5px;
	a{
		display: block;
		text-align: center;
	}
}
h1{
	color: @orange;
	font: 44px "source_sans_prolight";
	margin: 10px 0;
}
main{background: @white;}
.register_container{
	background: @orange;
	margin: 0 auto;
	padding: 20px 0 15px 0;
	overflow: hidden;
}	
.wrap_form{
	background: @white;
	.border-radius(5px);

	box-shadow: 0 0px 0px 0px #ffbd0e,
					0 0px 0px 0px #ffbd0e,
					55px 0 80px -20px #ffbd0e,
					-55px 0 80px -20px #ffbd0e;
	z-index: 1;
	position: relative;
	&:before, &:after{
		.before;
		width: 50%;
		top: 80%;
		background: fade(@black, 50%);
		.box-shadow(0 15px 10px fade(@black, 50%));
		bottom: 15px;
		z-index: -1;
	}
	&:before{
		.rotate(-3deg);
		left: 10px;
	}
	&:after{
		.rotate(3deg);
		right: 10px;
	}
}
.shadow_container{height: 466px;}
.registration_form{
	padding: 0px 10px 0px 20px;
	background: @white;
	border-left: 1px solid lighten(@grey, 40%);
	width: 452px;
	height: 466px;
	float: left;
	position: relative;
	.border-radius(0 3px 3px 0);
	&:before{
		.before;
		top: 0;
		left: 0;
		width: 100%;
		height: 70px;
		.border-radius(0 3px 3px 0);
		.gradient (@startColor: @white, @endColor: transparent);
    }
}
.registration_area{
	clear: both;
	margin: 10px 0;
	position: relative;
	&:last-of-type{margin-left: 100px;}
	&:after{								
		content:'';
		display: block;
		clear: both;
	}
	span{
		font: 18px/41px "source_sans_prolight";
		color: @dark_grey;
		display: block;
		width: 100px;
		float: left;
	}
	.search{
		position: relative;
		margin-left: 35px;
		width: 87px;
		&:before{
			.before;
			top: 13px;
			left: -23px;
			width: 17px;
			height: 17px;
			background: url("../images/sprite.png") -61px -91px;
		}
	}
}
#number{width: 83px;}
#month{width: 120px}
#year{width: 102px;}
.select_wrap{
	position: relative;
	display: inline-block;
	height: 36px;
	.border-radius(50px);
	border: 1px solid #cecece;
	.gradient (@startColor: @border_color, @endColor: @white);
	.shadow-inset(0 1px 1px @grey);
	&:before{
		.before;
		top: 1px;
		right: 0;
		width: 37px;
		height: 36px;
		background: url("../images/sprite.png");
		background-position: -58px -4px;
	}
	&:last-of-type{
		margin: 0;
		width: 320px;
	}
	select{
		position: absolute;
		top: 0;
		left: 0;
		height: 37px;
		width: 100%;
		padding-left: 20px;
		background: transparent;
		.clear-select;
		color: @grey;
	}
}
.required_area{
	float: left;
	width: 320px;
	input[type="text"]{
		color: @grey;
		width: 300px;
		border: 0;
		font: 18px "source_sans_prolight";
		.border-radius(50px);
		padding-left: 20px;
		height: 37px;
		border: 1px solid @invalid_color;
		.gradient (@startColor: @border_color, @endColor: @white);
		.shadow-inset(0 1px 1px @grey);
	}
}
.valid, .invalid{
	position: relative;
	float: left;
	&:before{
		.before;
		top: 10px;
		left: 10px;
		width: 18px;
		height: 18px;
		background: url("../images/sprite.png");;
	}
}
.valid{
	&:before{background-position:  -60px -45px;}
}
.invalid{
	&:before{background-position: -60px -67px;}
}
.tooltip{
	background: fade(@black, 70%);
	.border-radius(5px);
	position: absolute;
	top: -15px;
	right: -185px;
	&:before{
		.before;
		top: 25px;
		left: -20px;
		border: 10px solid transparent;
		border-right: 10px solid fade(@black, 70%);;
	}
	p{
		color: @white;
		padding: 15px 25px 15px 35px;;
		font: 16px/12px "Trebuchet MS", sans-serif;
	}
}
.slider {
	z-index: 1;
	width: 476px;
	overflow: hidden;
	position: relative;
	margin: 0;
	float: left;
	.border-radius(3px 0px 0px 3px);
	ul{
		width: 9999px;
		li{float: left;}
	}
	.nav{
		position: absolute;
		left: 43%;
		bottom: 30px;
		span{
			display: block;
			float: left;
		    width: 11px;
			height: 11px;
			margin: 0 4px;
			background: fade(@black, 30%);
			.box-shadow (0px 0px 5px @white);
			.border-radius (11px);
			overflow: hidden;
			&:hover{cursor:pointer;}
		}
		span.on{background: @orange} 
	}
}
input.submit{
	display: block;
	margin: 20px 0 30px 100px;
	padding: 4px 65px;
	text-align: center;
	border: 1px solid #7fa607;
	.border-radius(50px);
	cursor: pointer;
	color: @white;
	font: 48px "source_sans_prolight";
	background: #7ea607;
	background: -moz-linear-gradient(top,#7ea607 0,#d5e18f 1%,#b5cc3e 3%,#abc734 7%,#a6c730 10%,#95bc2f 41%,#8fb82b 48%,#72aa00 49%,#74ac00 58%,#89be0e 83%,#8dbf10 84%,#94c416 97%,#bfdc72 99%,#7ea607 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#7ea607),color-stop(1%,#d5e18f),color-stop(3%,#b5cc3e),color-stop(7%,#abc734),color-stop(10%,#a6c730),color-stop(41%,#95bc2f),color-stop(48%,#8fb82b),color-stop(49%,#72aa00),color-stop(58%,#74ac00),color-stop(83%,#89be0e),color-stop(84%,#8dbf10),color-stop(97%,#94c416),color-stop(99%,#bfdc72),color-stop(100%,#7ea607));
	background: -webkit-linear-gradient(top,#7ea607 0,#d5e18f 1%,#b5cc3e 3%,#abc734 7%,#a6c730 10%,#95bc2f 41%,#8fb82b 48%,#72aa00 49%,#74ac00 58%,#89be0e 83%,#8dbf10 84%,#94c416 97%,#bfdc72 99%,#7ea607 100%);
	background: -o-linear-gradient(top,#7ea607 0,#d5e18f 1%,#b5cc3e 3%,#abc734 7%,#a6c730 10%,#95bc2f 41%,#8fb82b 48%,#72aa00 49%,#74ac00 58%,#89be0e 83%,#8dbf10 84%,#94c416 97%,#bfdc72 99%,#7ea607 100%);
	background: -ms-linear-gradient(top,#7ea607 0,#d5e18f 1%,#b5cc3e 3%,#abc734 7%,#a6c730 10%,#95bc2f 41%,#8fb82b 48%,#72aa00 49%,#74ac00 58%,#89be0e 83%,#8dbf10 84%,#94c416 97%,#bfdc72 99%,#7ea607 100%);
	background: linear-gradient(to bottom,#7ea607 0,#d5e18f 1%,#b5cc3e 3%,#abc734 7%,#a6c730 10%,#95bc2f 41%,#8fb82b 48%,#72aa00 49%,#74ac00 58%,#89be0e 83%,#8dbf10 84%,#94c416 97%,#bfdc72 99%,#7ea607 100%);
}
.buttons_group{
	float: left;
	input{display: none;}
	.wrap_radion_button{
		position: relative;
		display: inline-block;
		width: 47px;
		height: 36px;
		label{
			display: block;
			position: absolute;
			width: 49px;
			height: 36px;
			.gradient (@startColor: #f5fafb, @endColor: #e6e7e7);
			border: 1px solid fade(@orange, 50%);
			.border-radius(20px 0 0 20px);
			&:before{
				.before;
				width: 16px;
				height: 30px;
				top: 3px;
				left: 20px;
			}
			&:hover{cursor: pointer;}
		}
		input:checked + label{
			background: @orange;
			.shadow-inset(0 1px 1px @grey);
			&:hover{cursor: text;}
		}
		input + label.woman:before{
			background: url("../images/sprite.png");
			background-position: -21px -72px;
		}
		input:checked + label.woman:before{
			background: url("../images/sprite.png");
			background-position: -3px -72px;
		}
		input + label.man:before{
			background: url("../images/sprite.png");
			background-position: -21px -104px;
			left: 15px;
		}
		input:checked + label:before{
			background: url("../images/sprite.png");
			background-position: -3px -104px;
		}
		&:last-child label{
			.border-radius(0 20px 20px 0);
			border-left: 0;
		}
	}

	.half_group{
		&:first-of-type{margin-right: 70px;}
		span{
			float: none;
			line-height: 25px;
		}
	}
	.check, .radio{
		position: relative;
		float: left;
		margin: 5px 9px 0 0;
		width: 14px;
		height: 14px;
		.gradient (@startColor: #f5fafb, @endColor: #e6e7e7);
		.box-shadow(1px 1px 1px 0 lighten( @grey, 10% ));
		label{
			display: block;
			position: absolute;
			width: 12px;
			height: 12px;
			top: 1px;
			left: 1px;
			background: transparent;
			&:hover:before{
				.before;
				opacity: .3;
				width: 10px;
				height: 10px;
				top: 1px;
				left: 1px;
				background: @orange;
				cursor: pointer;
			}
		}
		input:checked + label{
			&:before{
				.before;
				width: 10px;
				height: 10px;
				top: 1px;
				left: 1px;
				background: @orange;
				opacity: 1;
				cursor: text;
			}
		}
	}
	.radio{
		.border-radius(50%);
		label{
			.border-radius(50%);
			&:before{.border-radius(50%);}
		}
		input:checked + label{
			&:before{.border-radius(50%);}
		}
	}
}

.secondary{background: @white;}
article{
	display: inline-block;
	vertical-align: top;
	width: 470px;
	margin-right: 80px;
	&:last-of-type{
		width: 390px;
		margin-right: 0;
	}
	p{text-align: justify;}
	h2{margin: 40px 0 0 5px}
	img{
		float: left;
		shape-outside: circle();
		padding-right: 20px;
		margin: 10px 0 0;
	}
}
.tabs {
    position: relative;
    label {
	    display: block;
		position: relative;
		top: 2px;
		background: @label_bg;
		float: left;
		border: 1px solid @border_color;
		border-bottom: none;
		.border-radius(12px 12px 0 0);
		color: @label_color;
		cursor: pointer;
		font: normal 16px/30px 'source_sans_prolight';      
		padding: 0 20px;
		height: 30px;
		text-align: center;
		z-index: 1;
		&:first-of-type{margin-left: 0;}
		span{
			color: @label_counter;
			border-left: 1px solid @label_counter; 
			padding-left: 5px;
		}
	}							
	input {
	    position: absolute;
		left: -9999px;
	}
	#tab_1:checked ~ #tab_l1,
	#tab_2:checked ~ #tab_l2{
	    background: @white; 
		display: block;
		font-size: 16px;				 
		color: @orange;
		border: 1px solid @border_color;
		position: relative;
		top: 2px;
		z-index: 20;
		border-bottom: 0;
		&:before{
			.before;
			width: 39px;
			height: 32px;
			top: -1px;
			right: -31px;
			background: url('../images/sprite.png') no-repeat -8px -4px;
		}
	}
	.tabs_cont {
	    background: @white;
	    border: 1px solid @border_color;
	    padding: 20px 15px 15px 20px;
	    position: relative;
	    top: 0;
	    z-index: 5;
	    clear: both;
	    .box-shadow(1px 1px 1px fade(@grey, 30%));
	    .border-radius(0 5px 5px 5px);
	    overflow: hidden;
	    &>div {
	        position: absolute;
			left: -9999px;
			top: 0;
			.transition(opacity .5s ease-in-out);
			visibility: visible;
		}
	}
	#tab_1:checked ~ .tabs_cont #tab_c1,
	#tab_2:checked ~ .tabs_cont #tab_c2{
	    position: static;
		left: 0;
		border-top: none;
		opacity: 1;
	
	}
}
.widget_bar{
	width: 215px;
	float: left;
}
.progress{
	display: block;
	height: 16px;
	.gradient (@startColor: @white, @endColor: @border_color);
	.border-radius(3px);
	.border_progress_bar;
	padding: 0 2px;
	margin: 0 0 25px;
	span{
		height: 12px;
		display: block;
		text-align: center;
		font: 9px "Verdana";
		color: @grey;
		margin: 2px 0;
		.orange_gradient;
		.border-radius(3px);
	}
}
.step{
	overflow: hidden;
	margin: 10px 0 22px;
	ul{
		li{
			float: left;
			margin-left: -2px;
			&:last-of-type a{
				padding-right: 6px;
				&:after{display: none;}
			}
		 	a{
		  		display: block;
		  		padding: 0 2px 0 15px;
				height: 28px;
				background: @bread_crumb_bg;
				text-align: center;
				position: relative;
				font-size: 9px;
				line-height: 28px;
				text-decoration: none;
				color: @grey;
				.text-shadow(1px 1px 0 @white);
				.border-radius(5px);
				&:after{
					.before;
				    height: 22px;
					width: 23px;
					right: -8px;
					top: 3px;
					.rotate(45deg);
					background: #c5c8c8;
					z-index: -1;
					.border-radius(2px);
					.box-shadow(2px -2px 1px 0px fade(@grey, 20%));
				}
		 	}
		} 
	 	.current{
	 		.orange_gradient;
	 		&:after{
			   background: #ffba2f;
		      background: -moz-linear-gradient(-45deg,  #ffba2f 0%, #ffa906 11%, #ff8e1b 89%, #c66c17 100%);
				background: -webkit-linear-gradient(-45deg,  #ffba2f 0%,#ffa906 11%,#ff8e1b 89%,#c66c17 100%);
				background: linear-gradient(135deg,  #ffba2f 0%,#ffa906 11%,#ff8e1b 89%,#c66c17 100%);
	  		}
	  	}
	  	.before_curren{
	  		.progress_bg;
			&:after{.progress_bg;}
	  	}
	}
}
.star_container{
	width: 88px;
	position: relative;
	float: right;
	margin-top: 10px;
  	.star_reiting{
  		width: 88px;
  		height: 16px;
  		background: url("../images/sprite.png") repeat-x;
  		background-position:  -5px -152px;
  	}
  	.star_progress{
  		position: absolute;
  		top: 0;
  		bottom: 0;
  		left: 0;
  		right: 0;
  		z-index: 1;
  		height: 16px;
  		background: url("../images/sprite.png") repeat-x;
  		background-position:  -5px -170px;
  	}
}
.set-size div{box-sizing: border-box;}
.set-size{
	font-size: 90px;
	&:before, :after {box-sizing: border-box;}
	.pie-wrapper {
		height: 90px;
		width: 90px;
		float: left;
		margin: -5px 0 0 45px;
		position: relative;
		.label {
		    background: @white;
			border-radius: 50%;
			color: @grey;
			display: block;
			font: 21px/60px "source_sans_prolight";
			position: absolute;
			text-align: center;
			top: 0.7em;
			bottom: 0.7em;
			left: 0.7em;
			right: 0.7em;
		}
		.pie {
		    height: 100%;
			width: 100%;
			clip: rect(0, 1em, 1em, 0.5em);
			left: 0;
			position: absolute;
			top: 0;
			.half-circle {
				height: 100%;
				width: 100%;
				border: 16px solid @orange;
				border-color: @orange;
				border-radius: 50%;
				clip: rect(0, 0.5em, 1em, 0);
				position: absolute;
				top: 0;
				left: 0;
			}
			.right-side {display: none;}
			.left-side {.rotate(130deg);}
		}
	}
	.shadow {
	    height: 100%;
	    width: 100%;
	    border: 16px solid #e7e8e8;
	    .border-radius(50%);
	}
}
section.secondary{
	clear: both;
	h2{margin: 10px 5px 10px;}
}
.newspaper {  
   	.coloms(3);
    -webkit-column-gap: 30px;
	-moz-column-gap: 30px;  
	column-gap: 30px;  
	p{&:first-of-type{margin-top: 0;}}
	.select_text{
		border-left: 2px solid @orange;
		line-height: 15px;
		color: @orange;
		padding-left: 15px;
	}
	ol{
		padding: 0;
		list-style-position: inside;
		li{
			color: lighten(@grey, 15%);
			font-size: 11px;
			span{
				color: @grey;
				font: 14px/22px "source_sans_prolight";
				a{
					color: @orange;
					font: 14px "source_sans_prolight";
				}
			}
		}
	}
}
.readmore{
	display: block;
	text-align: right;
	color: @orange;
	font: 14px "source_sans_prolight";
	text-decoration: underline;
	position: relative;
	&:hover{text-decoration: none;}
	&:before{
		.before;
	    left: 156px;
		top: 3px;
		width: 0;
		height: 0;
		border: 5px solid transparent;
		border-left: 6px solid #ff9c09;
	}
}
blockquote{
	position: relative;
	color: lighten(@grey, 15%);
	margin: 25px 20px;
	&:before, &:after{
		.before;
		font-size: 72px;
		color: lighten(@grey, 50%);
	}
	&:before{
		content:'\201C';
		top: 15px;
		left: -35px;
	}
	&:after{
		content: '\201D';
		right: -10px;
		bottom: -25px;
	}
}
footer{
	margin-top: 50px;
	.row{
		border-top: 1px solid lighten(@grey, 50%);
		padding-top: 10px;
		a{
			display: block;
			float: left;
		}
		p{
			text-align: right;
			font: 20px "source_sans_prolight";
			color: @grey;
			margin: 0;
			&:last-of-type{
				font-size: 31px;
				clear: both;
				text-align: right;
				color: lighten(@grey, 50%);
			}
			span{color: lighten(@grey, 50%);}
		}
	}
}