@black: #000;
@white: #fff;
@orange: #ff9c09;
@grey: #4e4e4e;
@dark_grey: #666666;
@label_bg: #f8f8f8;
@label_color: #6f6f6f;
@label_counter: lighten(@grey, 40%);
@border_color: #eeeeee;
@bread_crumb_bg: #c5c8c8;
@invalid_color: #eeabab;